@use "../abstracts/_variables" as *

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap')

:root
    font-family: Lexend

*::selection
    background: transparentize($primary-color, .85)

a
    color: $primary-color
    text-underline-offset: 2px

h1, h2, h3, h4, h5
    margin: 2rem 0

h1
    font-size: 4rem

h2
    font-size: 3rem

h3
    font-size: 2.25rem

h4
    font-size: 1.875rem

h5
    font-size: 1.5625rem

.primary
    color: $primary-color
