%flex-center
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    flex-wrap: wrap

%section
    min-width: 75%
    width: 1440px
    max-width: 100%
    padding: 3.125rem 0
    margin: auto
    box-sizing: border-box

    @media (max-width: 1440px)
        padding: 3.125rem 4rem

    @media (max-width: 850px)
        padding: 3.125rem 2rem
