@use "../../sass/abstracts/_variables" as *

.btn
    color: #fff
    background: $primary-color
    border-radius: .55vw
    padding: 1.11vh 1.25vw
    cursor: pointer
    transition: color .15s
    user-select: none

    &:active
        background: lighten($primary-color, 2.5%)
