@use "../../sass/abstracts/_variables" as *
@use "../../sass/abstracts/_placeholders"

.searchbar
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .07)
    border-radius: max(1vw, 1rem)
    padding: 1vw calc(min(85px, max(4.4vw, 60px)) + 2*min(6px, max(.3vw, 3px)) + .9vw) 1vw calc(2*min(24px, max(1.25vw, 12px)) + min(27px, max(1.4vw, 14px)))
    border: none
    width: 100%
    min-height: min(50px, max(2.6vw, 40px))
    transition: box-shadow .15s
    font-family: Lexend
    text-overflow: ellipsis
    box-sizing: border-box
    font-size: min(1.3rem, max(1.1vw, .8rem))

    &__wrapper
        width: 100%
        max-width: 760px
        min-width: 175px
        margin: auto
        position: relative
        min-height: min(50px, max(2.6vw, 40px))

    &:active, &:focus
        outline: none
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, .08)

    &::placeholder
        color: transparentize($secondary-text-color, .4)

    &__icon
        position: absolute
        margin: auto 0
        inset: 0
        left: min(24px, max(1.25vw, 12px))
        width: min(27px, max(1.4vw, 14px))
        pointer-events: none

    &__btn
        position: absolute
        margin: min(6px, max(.3vw, 3px))
        top: 0
        bottom: 0
        right: 0
        border-radius: max(.9vw, .9rem)
        font-size: min(1.3rem, max(1.1vw, .8rem))
        font-weight: 600
        padding: .7vw .3vw
        width: 6.5vw
        min-width: min(85px, max(4.4vw, 60px))
        background: $primary-color
        color: #fff
        cursor: pointer
        user-select: none
        text-align: center
        line-height: 100%
        @extend %flex-center

        &:active
            background: lighten($primary-color, 2.5%)
