@use "../../sass/abstracts/_placeholders"
@use "../../sass/abstracts/_variables" as *

.navbar
    @extend %flex-center
    @extend %section
    justify-content: space-between
    height: 10vh
    font-weight: 500
    user-select: none
    padding: unset
    flex-wrap: nowrap
    box-sizing: border-box

    @media (max-width: 1440px)
        padding: 0 4rem

    @media (max-width: 500px)
        padding: 0 2rem

    &__fill
        height: 10vh

    &__wrapper
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 100
        background: rgba(255, 255, 255, .98)
        border-bottom: 1px solid rgba(0, 0, 0, .03)

    &__logo
        @extend %flex-center
        justify-content: start
        font-weight: 700
        font-size: 1.7rem

        img
            margin-right: .75rem

        @media (max-width: 850px)
            width: 110px

            img
                margin-right: 0

    &__item
        margin: 0 1.25vw
        color: #000
        text-decoration: none

        &__list
            @media (max-width: 850px)
                display: none

    &__auth
        @extend %flex-center
        flex-wrap: nowrap
        margin-left: 25px

        .btn
            margin-left: 25px

        @media (max-width: 1044px)
            display: none

        &--mobile
            display: none
            margin-left: 1.25vw
            font-size: .6rem

            img
                margin-left: 8px

            @media (max-width: 1044px)
                display: flex
                align-items: center

    &__search
        @media (max-width: 850px)
            display: none

    &__burger
        display: none
        margin-left: 20px

        div
            width: 26px
            height: 2px
            margin: 4px 0
            background: $secondary-text-color
            border-radius: 100vw

        @media (max-width: 850px)
            display: block
