@use "../../sass/abstracts/_variables" as *

.searchbar

    &--small
        padding: .8vw calc(max(50px, 3.8vw) + 8px + .6vw) .8vw 49.2px
        font-size: .875rem
        border-radius: max(.4vw, .8rem)
        min-width: 180px
        min-height: 40px

    &__wrapper
        &--small
            width: 17vw
            min-width: 180px
            min-height: 40px
            margin: unset

    &__icon
        &--small
            width: 19.2px
            left: 15px

    &__btn
        &--small
            margin: 4px
            border-radius: max(.3vw, .7rem)
            width: 3.8vw
            min-width: 50px
            padding: .35vw .3vw
            font-size: 1.25rem
